<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="auth_common :: auth_header('ログイン - さわやか医院予約システム')"></head>
<body
	class="flex min-h-screen items-center justify-center bg-[var(--background-color)]">
	<div
		class="w-full max-w-md space-y-8 rounded-xl bg-white p-8 shadow-lg">
		<div class="text-center">
			<h1 class="text-3xl font-bold text-[var(--text-primary)]">
				さわやか病院 予約システム</h1>
			<p class="mt-2 text-lg text-[var(--text-secondary)]">ログイン</p>
		</div>
		<form action="#" class="mt-8 space-y-6" method="POST">
			<input name="remember" type="hidden" value="true" />
			<div class="rounded-md shadow-sm -space-y-px">
				<div>
					<label class="sr-only" for="medical-card-number">診察券番号</label>
					<input
						class="form-input relative rounded-none rounded-t-md focus:z-10"
						id="medical-card-number" name="text" placeholder="診察券番号"
						required="" type="text" autocomplete="off" />
				</div>
				<div>
					<label class="block text-sm font-medium text-[var(--text-primary)]"
						for="birth_year">生年月日</label>
					<div class="mt-1 grid grid-cols-3 gap-3">
						<select class="form-input" id="birth_year" name="birth_year"
							required="">
							<option value="">年</option>
							<script>
								const currentYear = new Date().getFullYear();
								for (let i = currentYear; i >= 1900; i--) {
									document
											.write(`<option value="${i}">${i}</option>`);
								}
							</script>
						</select> <select class="form-input" id="birth_month" name="birth_month"
							required="">
							<option value="">月</option>
							<script>
								for (let i = 1; i <= 12; i++) {
									document
											.write(`<option value="${i}">${i}</option>`);
								}
							</script>
						</select> <select class="form-input" id="birth_day" name="birth_day"
							required="">
							<option value="">日</option>
							<script>
								for (let i = 1; i <= 31; i++) {
									document
											.write(`<option value="${i}">${i}</option>`);
								}
							</script>
						</select>
					</div>
				</div>
			</div>
			<div>
				<button
					class="btn-primary group relative flex w-full justify-center"
					type="submit">ログイン</button>
			</div>
		</form>
		<div class="text-center text-sm text-[var(--text-secondary)]">
			はじめて当院を受診される方はこちら <a
				class="font-medium text-[var(--primary-color)] hover:text-[var(--primary-hover-color)]"
				href="#"> 初診予約登録 </a>
		</div>
	</div>
</body>
</html>