<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="auth_head(title)">
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<title th:text="${title}"></title>
		<link href="https://fonts.googleapis.com" rel="preconnect" />
		<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&amp;family=Work+Sans:wght@400;500;700&amp;display=swap"
			rel="stylesheet"
		/>
		<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
		<link th:href="@{/css/auth.css}" rel="stylesheet" />
	</head>
	<body></body>
</html>